@import '../media';

.btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding-block: 36px 41px;
    background-color: var(--color-white);
    border: none;
    gap: 16px;
    cursor: pointer;

    @include mobile {
        padding-block: 20px;
    }

    &__icon {
        color: var(--color-purple);
    }

    &__question {
        font-size: 1.375rem;
        font-weight: 600;

        @include mobile {
            font-size: 1rem;
            font-weight: 500;
        }
    }

    @include hover {
        background-color: var(--color-lime);
    }

    &.active {
        background-color: var(--color-lime);
    }
    
}