@import '../media';

.capabilities {
    display: flex;
    flex-direction: row;
    padding-block: 105px 87px;
    background-color: var(--color-black);
    gap: 43px;

    @include tablet {
        padding-block: 80px;
        gap: 25px;
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    &__content {
        max-width: 657px;

        @include mobile {
            text-align: center;
        }
    }

    &__note {
        margin-bottom: 16px;
    }

    &__title {
        width: 100%;
        color: var(--color-white);
        font-size: 4.25rem;
        font-weight: 700;
        line-height: 1.0;

        @include desktop {
            font-size: 3rem;
            font-weight: 600;
        }

        @include mobile {
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        background-color: #2B2B2B;
        padding: 32px;
        border-radius: var(--border-radius-lg);

        @include tablet {
            padding: 20px;
        }

        @include mobile-s {
            padding: 10px;
        }

        &-title {
            color: var(--color-white);
            font-size: 1.375rem;
            margin-bottom: 8px;

            @include tablet {
                font-size: 1rem;
            }
        }

        &-description {
            color: var(--color-gray-on-black);
            margin-bottom: 24px;

            @include tablet {
                margin-bottom: 15px;
            }
        }

        &-image {
            display: block;
            border-radius: var(--border-radius-sm);

            @include tablet {
                width: 300px;
                height: 250px;
                margin: 0 auto;
            }

            @include mobile-s {
                width: 250px;
                height: 185px;
            }
        }
    }

    &__icon {
        margin-bottom: 24px;
    }
}