@import '../media';

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: var(--color-pink);
    color: var(--color-white);
    position: relative;

    @include mobile {
        align-items: center;
    }

    &__logo {
        cursor: pointer;
    }

    &__burger {
        display: none;
        width: 30px;
        height: 22px;
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1001;

        span {
            position: absolute;
            width: 100%;
            height: 3px;
            background: white;
            left: 0;
            transition: 0.3s;

            &:nth-child(1) { top: 0; }
            &:nth-child(2) { top: 9px; }
            &:nth-child(3) { bottom: 0; }
        }

        &.active {
            position: fixed;
            top: 20px;
            right: 20px;
            
            span:nth-child(1) {
                transform: rotate(45deg);
                top: 9px;
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: rotate(-45deg);
                bottom: 10px;
            }
        }

        @include mobile {
            display: block;
        }
    }

    &__nav {
        display: flex;

        @include mobile {
            position: fixed;
            top: 0;
            right: -100%;
            width: 70%;
            height: 100vh;
            background: var(--color-pink);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            z-index: 1000;
        }

        &.active {
            @include mobile {
                right: 0;
            }
        }
    }

    &__list {
        display: flex;
        gap: 16px;

        &-item {
            padding: 14px 24px 16px;
            font-size: 1.125rem;
            font-weight: 500;

            @include hover {
                color: var(--color-black);
            }
        }

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__overlay {
        display: none;

        @include mobile {
            position: fixed;
            inset: 0;
            background: rgba(0,0,0,0.4);
            display: none;
            z-index: 999;
        }

        &.active {
            display: block;
        }
    }
    
}