@use "../media" as *;

.price-card {
    background-color: #F7F7F7;
    border-radius: 16px;
    padding: 32px;

    @include tablet {
        padding: 20px;
        width: 314px;
    }

    @include mobile-s {
        width: 255px;
    }

    &_popular {
        border: 1px solid var(--color-purple);
        background-color: var(--color-white);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: -5%;
            right: -9%;
            width: 200px;
            height: 200px;
            background: url('../../images/Popular.svg') center / auto no-repeat;

            @include mobile-s {
                display: none;
            }
        }
    }

    &_not-shure {
        display: flex;
        flex-direction: row;
        gap: 40px;
        background-color: var(--color-pink);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: -7.5%;
            right: -3.33%;
            width: 400px;
            height: 400px;
            background: url('../../images/Bam.svg') center / auto no-repeat;

            @include tablet {
                display: none;
            }
        }
    }

    &__title {
        font-size: 1.375rem;
        font-weight: 600;
        margin-bottom: 8px;

        @include tablet {
            font-size: 1rem;
            font-weight: 500;
        }

        &_not-shure {
            color: var(--color-lime);
            font-size: 3.5rem;
            font-weight: 700;
            margin-bottom: 8px;

            @include tablet {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }

    &__note {
        font-size: 1.125rem;
        margin-bottom: 40px;

        @include tablet {
            font-size: 1rem;
            margin-bottom: 20px;
        }

        span {
            color: var(--color-purple);
            margin-right: 0.25em;
        }

        &_not-shure {
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 8px;

            @include tablet {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

    &__price {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 8px;

        @include tablet {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    &__period {
        margin-bottom: 40px;

        @include tablet {
            margin-bottom: 20px;
        }

        &_not-shure {
            margin-bottom: 12px;
        }
    }

    &__button {
        width: 100%;
        background-color:#F7F7F7;
        padding: 14px 96px 16px;
        border-radius: 40px;
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: -0.05em;
        border: 1px solid black;
        margin-bottom: 40px;
        cursor: pointer;

        @include tablet {
            padding: 10px 40px;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 25px;
        }

        @include hover {
            background-color: var(--color-lime);
            border-color: var(--color-lime);
        }

        &_popular {
            background-color: var(--color-black);
            color: var(--color-white);

            @include hover {
                background-color: var(--color-purple);
                border-color: var(--color-purple);
            }
        }

        &_not-shure {
            background-color: var(--color-white);
            border: none;
            margin: 0;
            padding: 14px 24px 16px;
            width: 148px;
            height: 52px;

            @include tablet {
                width: 100%;
                height: auto;
            }
        }
    }

    &__subtitle {
        font-size: 1.125rem;
        margin-bottom: 8px;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__features-item {
        display: flex;
        gap: 16px;
        font-size: 1rem;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__features-icon {
        color: var(--color-purple);
        width: 20px;
        height: 20px;
    }

    &__content {
        max-width: 486px;
        width: 100%;
        height: 284px;

        @include tablet {
            height: 220px;
        }
    }

    &__list {
        margin-top: 40px;

        @include tablet {
            margin-top: 0;
        }

        span {
            color: var(--color-lime);
        }
    }
    
}