@import './media';

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin: 0 auto;
    padding-inline: var(--container-padding-x);

    &_big {
      margin: 0;
      max-width: 100%;
      padding-inline: calc((100% - var(--container-width)) / 2);

      @include desktop {
        padding-inline: 20px;
      }
    }

    @include tablet {
      padding-inline: 20px;
    }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}