:root {
    --color-pink: #FF66C8;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-lime: #CBFB45;
    --color-purple: #726FF7;
    --color-gray-on-black: #E6E6E6;
    --color-gray: #4D4D4D;

    --border-radius-lg: 24px;
    --border-radius-sm: 12px;

    --container-width: 1200px;
    --container-padding-x: 120px;

    --font-family-base: "Bricolage Grotesque", sans-serif;
}